.content_dashboard {
    margin: 0 10px;
    margin-top: 20px;
  
    .head_text {
      h4 {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 19px;
      }
  
      p {
        color: gray;
        font-size: 15px;
        margin-bottom: 0;
      }
    }
}