@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
  background-color: #f1f5f9 !important;
}

svg {
    width: 25px;
}


.section_dash {
  margin: 0 15px;
  margin-top: 30px;
}

// start main
main {
  min-height: 100vh;
  display: flex;

  .sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 270px;
    transition: all 0.3s;
  }

  .content_page {
    width: 100%;
    transition: all 0.3s;
    overflow: auto;
    height: 100vh;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #cdcdcd;
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #b0b0b0;
    }

    &:hover {
      &:-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgb(225, 225, 225);
      }
    }

    &.close_sidebar {
      width: 95%;
    }
  }
}

@media (max-width: 768px) {
  main {
    .overflow_sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      height: calc(100% - 45px);
      z-index: 998;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.758);
      display: none;

      &.active {
        display: block;
      }
    }

    .sidebar {
      width: 250px;
      position: fixed;
      bottom: 0;
      left: -100%;
      
      z-index: 999;
      transition: all 0.3s;
      height: 100%;

      &.open_sidebar {
        left: 0;
        height: calc(100% - 45px);
      }
    }

    .content_page {
      width: 100%;
      margin-left: 0; 
      width: 100%;
    }
  }
}
// end main
